numba==0.55.0                                                                                                 
matplotlib==3.8.3                                                                                            
fire==0.5.0                                                                                                  
protobuf==3.20.1                                                                                                
opencv-python==4.9.0.80                                                                                  
opencv-contrib-python==4.9.0.80                                                                                   
pybind11==2.11.1                                                                                                                                                                                                                                                                                                 
easydict==1.13                                                                                         
open3d-python==0.3.0.0                                                                                         
terminaltables==3.1.10                                                                                        
pytest-runner==6.0.1                                                                                           
addict==2.4.0                                                                                                
pycocotools==2.0.7                                                                                          
imagecorruptions==1.1.2                                                                                    
objgraph==3.6.1                                                                                       
cachetools==5.3.3
descartes==1.1.0
jupyter==1.0.0
motmetrics==1.1.3
numpy==1.26.4
torch==2.0.1
torchvision==0.15.2
pypcd4==1.0.1
pandas==2.2.1
Pillow==9.0.1
pyquaternion==0.9.9
scikit-learn==1.4.1.post1
scikit-image==0.22.0
Shapely==2.0.3
tqdm==4.66.2
pyyaml==6.0.1
requests==2.31.0
nuscenes-devkit==1.0.5
spconv-cu117==2.3.6
transforms3d==0.4.1
screeninfo==0.8.1
wandb
